<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Display Employee</title>
</head>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/display/">Display</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<body style="background-color: powderblue;">
    <br><br>
    <div  class="jumbotron" style = "text-align: center; width: 700px;">
    <div style="text-align: center;">
        <div>
            <h1 class="display-4">Display Employee details</h1>
            <hr class="my-4">
            <p class="lead">
                <!-- {{data}}  -->
                <table class="table">
                <!-- {{data}} -->
                    <thead>
                        <tr>
                            <th scope="col">sr</th>
                            <th scope="col">Name</th>
                            <th scope="col">E_id</th>
                            <th scope="col">salary</th>
                            <th scope="col">Departmant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                        {% for i in data %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td><a href="/update/{{i.id}}">{{i.name}}</a></td>
                            <td>{{i.E_id}}</td>
                            <td>{{i.salary}}</td>
                            <td>{{i.dept}}</td>
                        </tr>
                            {% endfor %}
                            {% else %}
                            <h3>Database is empty</h3>
                            {% endif %}
                    </tbody>
                </table> 
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/index/" role="button">Add more</a>
            </p>
        </div>
    </div>
    </div>
</body>
</html>