body{
    background-image: url("https://i.stack.imgur.com/jGlzr.png");
    background-color: blue;
}

.container{
    height: 200px;
    background-color: #cccccc;
    background-image: radial-gradient(red, yellow);
}